### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [23]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [26]:
pd.DataFrame({"Total Players": [purchase_data['SN'].nunique()]})

   Total Players
0            576

In [27]:
purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null object
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [28]:
 purchase_data["Price"].sum()

2379.77

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [29]:
data_dict= {"Number of Unique Items":[purchase_data["Item ID"].nunique()],
            "Average Price" : [round(purchase_data['Price'].sum() / purchase_data["Purchase ID"].nunique(), 2)],
            "Number of Purchases": [purchase_data["Purchase ID"].nunique()],
            "Total Revenue":[purchase_data["Price"].sum()]}
pd.DataFrame(data=data_dict)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

## Gender Demographics

In [30]:
df = pd.DataFrame(purchase_data.drop_duplicates("SN")["Gender"].value_counts())

df["Percentage of Players"] = df["Gender"] / purchase_data["Gender"].count()

In [31]:
df["Percentage of Players"] = df["Percentage of Players"] * 100

In [32]:
df["Percentage of Players"] = df["Percentage of Players"].round(2).astype(str) + '%'

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
df

                       Gender Percentage of Players
Male                      484                62.05%
Female                     81                10.38%
Other / Non-Disclosed      11                 1.41%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [33]:
df1 = pd.DataFrame(purchase_data.groupby(["Gender"])["Purchase ID"].count())

In [34]:
df2 = pd.DataFrame(purchase_data.groupby(["Gender"])["Price"].mean())

In [35]:
df2.rename(columns={"Price": "Avg Purchase Price"}, inplace=True)

In [38]:
df3 = pd.DataFrame(purchase_data.groupby(["Gender"])["Price"].sum())

In [36]:
df3.rename(columns={"Price": "Total Purchase Value"}, inplace=True)

In [37]:
df = pd.concat([df1, df2, df3], axis=1)

In [39]:
df["Price"] = "$" + df["Price"].round(2).astype('str')

KeyError: 'Price'

In [17]:
df

                       Purchase ID  Avg Purchase Price  Total Purchase Value
Gender
Female                         113            3.203009                361.94
Male                           652            3.017853               1967.64
Other / Non-Disclosed           15            3.346000                 50.19

In [18]:
purchase_data.groupby

<bound method NDFrame.groupby of      Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male      101
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]>

In [19]:
purchase_data.groupby(["Gender"])["Purchase ID"].nunique()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [20]:
361.94/4.47

80.97091722595079

In [21]:
df["Total Purchase Value"] /

SyntaxError: invalid syntax (<ipython-input-21-00e0548443ba>, line 1)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
bins = [0, 10, 14, 19, 24, 29, 34, 39, 100]

names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

pd.DataFrame(pd.cut(purchase_data['Age'], bins, labels=names))["Age"].value_counts()

In [ ]:
bins = [0, 10, 14, 19, 24, 29, 34, 39, 100]

names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_data_no_duplicates_df = purchase_data.drop_duplicates(["SN"])
player_df = pd.DataFrame(purchase_data_no_duplicates_df.groupby(pd.cut(purchase_data_no_duplicates_df['Age'], bins, labels=names))["SN"].nunique())

In [40]:
player_df.rename(columns={"SN": 'Total Count'}, inplace=True)
player_df["Percentage of Players"] = player_df["Total Count"] / player_df["Total Count"].sum()  * 100
player_df["Percentage of Players"] = player_df["Percentage of Players"].round(2)
player_df["Percentage of Players"] = player_df["Percentage of Players"].astype('str') + '%'

NameError: name 'player_df' is not defined

In [ ]:
player_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
bins = [0, 10, 14, 19, 24, 29, 34, 39, 100]

names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

dff1 = pd.DataFrame(purchase_data.groupby(pd.cut(purchase_data['Age'], bins, labels=names))["Purchase ID"].count())
dff1.rename(columns={"Purchase ID": "Purchase Count"}, inplace=True)

In [ ]:
dff2 = pd.DataFrame(purchase_data.groupby(pd.cut(purchase_data['Age'], bins, labels=names))["Price"].mean())
dff2.rename(columns={"Price":"Average Purchase Price"}, inplace=True)
dff2["Average Purchase Price"] = dff2["Average Purchase Price"].map("{:.2f}".format)
dff2["Average Purchase Price"] = '$' + dff2["Average Purchase Price"].astype('str')

In [ ]:
dff3 = pd.DataFrame(purchase_data.groupby(pd.cut(purchase_data['Age'], bins, labels=names))["Price"].sum())
dff3.rename(columns={"Price":"Total Purchase Value"}, inplace=True)
dff3["Total Purchase Value"] = dff3["Total Purchase Value"].round(2)
dff3["Total Purchase Value"] = '$' + dff3["Total Purchase Value"].astype('str')

In [ ]:
dff4 = pd.DataFrame(purchase_data.groupby(pd.cut(purchase_data['Age'], bins, labels=names))["SN"].nunique())
dff4
# dff3.rename(columns={"Price":"Total Purchase Value"}, inplace=True)
# dff3["Total Purchase Value"] = dff3["Total Purchase Value"].round(2)
# dff3["Total Purchase Value"] = '$' + dff3["Total Purchase Value"].astype('str')

In [ ]:
412.89 /

In [ ]:
pd.concat([dff1, dff2, dff3], axis=1)

In [ ]:
3.19*13

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
pd.DataFrame(purchase_data.groupby(pd.cut(purchase_data['Age'], bins, labels=names))["SN"].count())

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame